<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Entry Form
    </ion-title>
    <ion-buttons collapse="true" slot="end">
      <ion-button (click)='testPage()'>
        Test Page
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>

        <form [formGroup]="waitersListForm" #waitersFormRef="ngForm">

          <ion-item-group formArrayName="waitersList">

            <ion-item-divider>
              <ion-label>Waiters List Form Array pre filled</ion-label>
            </ion-item-divider>
            <!-- 
            <ion-item *ngFor="let waiter of waitersListArray.controls; let i = index" [formGroupName]="i">
              <ion-label>Label</ion-label>
            </ion-item> -->

            <ion-card *ngFor="let waiter of waitersListArray.controls; let i = index" [formGroupName]="i">
              <ion-card-header>
                <ion-row>
                  <ion-col size="8" class='title'>
                    <ion-card-title>
                      Jose
                      <ion-badge color='primary'>1,5</ion-badge>
                    </ion-card-title>
                  </ion-col>
                  <ion-col size="4" class='center-elements'>
                    <ion-button size='large' expand="block" fill="clear" shape="round">
                      <ion-icon *ngIf='true' size='large' color='secondary' slot="icon-only" name="alarm-outline"></ion-icon>
                      <ion-text *ngIf='false' color="dark">
                        4.75
                      </ion-text>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content>
                <ion-row class='ion-text-center'>
                  <ion-col class="background" size="12">
                    <ion-item-group>
                      <ion-card-subtitle>Waiters Points</ion-card-subtitle>
                      <ion-item>
                        <ion-label>Label</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Label</ion-label>
                      </ion-item>
                    </ion-item-group>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>

          </ion-item-group>


          <!-- <div formArrayName="waitersList">
            <div *ngFor="let waiter of waitersListArray.controls; let i = index" [formGroupName]="i">
              <mat-card class='container'>
              <mat-card-content>
       {{ i }}
              </mat-card-content>
            </mat-card>
            </div>
          </div> -->

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>