ion-card-header {
  ion-col.title {
    display: flex;
    align-items: center;
  }
}
.point-badge-container {
  display: flex;
  justify-content: end;
}
.background {
  // background-color: aqua;
}
.border {
  border: 1px solid black;
}
.center-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-toolbar {
  --min-height: 80px;
}

:root{
  .toolbar-title{
    height: 10%;
    background-color: blue!important;
  }
}
.toolbar-title {
  background-color: blue!important;
  height: 50px;
}