<ion-card>
  <!-- <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
  </ion-card-header> -->
  <ion-card-content>
    <form [formGroup]="waiterForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label>Waiter Name</ion-label>
        <ion-input type="text" class="form-control" formControlName="name"></ion-input>
        <div
          *ngIf="waiterForm.controls['name'].invalid && (waiterForm.controls['name'].dirty || waiterForm.controls['name'].touched)"
          class="alert alert-danger">
          <div *ngIf="waiterForm.controls['name'].errors.required">
            Waiter name is required.
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="form-group">
          <ion-button type="submit" [disabled]="waiterForm.pristine || waiterForm.invalid">
            Submit
          </ion-button>
          <ion-button (click)="clearForm()">Clear</ion-button>
        </div>
      </ion-item>
    </form>

  </ion-card-content>
</ion-card>