<ion-card>
    <form [formGroup]="waiterForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label>Waiter Name</ion-label>
            <ion-input type="text" class="form-control" formControlName="name"></ion-input>
        </ion-item>
        <ion-item *ngIf="
    waiterForm.controls['name'].invalid &&
    (waiterForm.controls['name'].dirty ||
      waiterForm.controls['name'].touched)
  ">
            <ion-text color="danger" *ngIf="waiterForm.controls['name'].errors.required">
                Waiter' name is required.
            </ion-text>
        </ion-item>
        <ion-item>
            <div class="form-group">
                <ion-button type="submit" [disabled]="waiterForm.pristine || waiterForm.invalid">
                    Submit
                </ion-button>
                <ion-button (click)="clearForm()">Clear</ion-button>
            </div>
        </ion-item>
    </form>
</ion-card>
