<ion-header>
  <ion-toolbar>
    <ion-buttons [style.visibility]="(isBeginning) ? '' : 'hidden'" collapse="true" slot="start">
      <ion-button (click)="home()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <div
      class="slider-header flex justify-content-space-between ion-margin-start ion-margin-end ion-margin-top relative">
      <div class="absolute full-width line"></div>
      <div class="flex flex-column justify-content-center "
        *ngFor="let slide of slides; let index = index; let first = first; let last = last;">
        <span [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }"
          class="flex flex-column align-items-center justify-content-center bold text-medium radius"
          style="width: 30px; height: 30px;"
          [style.background]="slide === currentSlide ? 'var(--ion-color-warning)':'var(--ion-color-light-shade)'"
          [style.color]="slide === currentSlide ? 'var(--ion-color-dark)':'var(--ion-color-dark)'"
          [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }">
          {{ index + 1 }}
        </span>
        <span [style.color]="slide === currentSlide ? 'var(--ion-color-warning)':'var(--ion-color-medium)'"
          [ngClass]="{ 'align-self-end': last, 'align-self-center': (!first && !last) }"
          class="description flex text-medium bold ion-margin-vertical">
          {{ slide }}
        </span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color='warning'>
  <ion-slides [options]="slidesOpts" (ionSlideDidChange)="onSlidesDidChange()" (ionSlideWillChange)="onSlidesChanged()">
    <ng-container *ngFor="let slide of slides">
      <ion-slide>
        <div class="slide-content ion-margin-start ion-margin-end full-width full-height ion-text-start">
          <div *ngIf="slide === 'Waiters List'">
            <form [formGroup]="waitersListForm" #waitersFormRef="ngForm">
              <div formArrayName="waitersList">
                <div *ngFor="let waiter of waitersListArray.controls; let i = index" [formGroupName]="i">
                  <mat-card class='container' @fade>
                    <mat-card-content>
                      <ion-col [size]="12">
                        <ion-button expand="block" tooltip tooltipHtml="I'm a multi-line<br> HTML tooltip"
                          positionV="top" [arrow]="showArrow" [event]="tooltipEvent" [debounce]="debounce"
                          [duration]="duration">
                          Top tooltip
                        </ion-button>

                        <button mat-button (click)="tooltip.toggle()"
                          aria-label="Show/Hide tooltip on the button at the end of this section"
                          class="example-action-button">
                          toggle show/hide
                        </button>


                        <button mat-raised-button matTooltip="Tooltip" 
                          aria-label="Displays a tooltip position">
                          Tooltip Button
                        </button>


                      </ion-col>
                      <ion-row>
                        <ion-col size="6">
                          <ion-list-header>
                            <ion-label>Name</ion-label>
                          </ion-list-header>
                          <ion-item>
                            <ion-input [disabled]="true" formControlName='name' type="text"></ion-input>
                          </ion-item>
                          <ion-item
                            *ngIf="waitersListArray.controls[i].get('name')?.errors?.required && isNameValidFormSubmitted !== null && !isNameValidFormSubmitted">
                            <ion-text color="danger">
                              Please add valid waiter
                            </ion-text>
                          </ion-item>
                        </ion-col>
                        <ion-col size="6">
                          <ion-item lines='none'>
                            <ion-buttons slot="end">
                              <ion-button (click)='clearSelectedHour(i)'>
                                <ion-icon slot="start" name="close"></ion-icon>
                              </ion-button>
                            </ion-buttons>
                          </ion-item>
                          <ion-item>
                            <ion-label *ngIf='waitersListArray.controls[i].get("hours").value !== null'> {{
                              waitersListArray.controls[i].get('hours').value }} </ion-label>
                            <ion-buttons slot="end" *ngIf='!waitersListArray.controls[i].get("hours").value'>
                              <ion-button (click)="showPicker(i)" expand="block" fill="clear" shape="round">
                                <ion-icon name="timer-sharp"></ion-icon>
                              </ion-button>
                            </ion-buttons>
                          </ion-item>
                          <ion-item
                            *ngIf="waitersListArray.controls[i].get('hours')?.errors?.required && isHoursValidFormSubmitted !== null && !isHoursValidFormSubmitted">
                            <ion-text color="danger">
                              Add hours to the waiter
                            </ion-text>
                          </ion-item>
                        </ion-col>
                        <ion-col size="12">
                          <ion-list-header>
                            <ion-label>Points</ion-label>
                            <ion-button color='dark' fill='outline' shape="round" (click)='clearSelectedPoints(i)'>Clear
                            </ion-button>
                          </ion-list-header>
                          <ion-item lines='none'>
                            <ionic-selectable #selectPointsComponent [items]="pointsListSelect"
                              formControlName="pointsArray" itemValueField="label" itemTextField="label"
                              [isMultiple]="true" confirmButtonText="OK" closeButtonText="Close">
                            </ionic-selectable>
                          </ion-item>
                          <ion-item
                            *ngIf="waitersListArray.controls[i].get('pointsArray')?.errors?.required && isPointValidFormSubmitted !== null && !isPointValidFormSubmitted">
                            <ion-text color="danger">
                              Add the points criterias
                            </ion-text>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </form>
          </div>

          <div *ngIf="slide === 'Date'">
            <form [formGroup]="dateForm" #dateFormRef="ngForm" novalidate>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Date</ion-card-subtitle>
                  <ion-card-title *ngIf='date'> {{ date.value | date }} </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-row class='date-row'>
                    <ion-col size="12" class='date-col'>
                      <ion-row class='date-row'>
                        <ion-col size="12">

                          <mat-calendar [selected]="dateForm.get('date').value"
                            (selectedChange)="updateFormDate($event)"></mat-calendar>

                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </form>
          </div>

          <div *ngIf="slide === 'Tips'">
            <ion-row class='tips-row'>
              <ion-col size="12">
                <ion-card>
                  <ion-card-header>
                    <ion-card-subtitle color='warning'>How did we make today?</ion-card-subtitle>
                    <ion-card-title>Tips</ion-card-title>
                  </ion-card-header>
                  <form [formGroup]="tipsForm" #tipsFormRef="ngForm" novalidate>
                    <ion-item lines="none">
                      <ion-label position="stacked">Tips amount</ion-label>
                      <ion-input clearInput="true" type="number" inputmode='numeric' type='number'
                        formControlName="tips"></ion-input>
                    </ion-item>
                    <div *ngIf="tipsControl.errors && (tipsControl.dirty || tipsControl.touched)">
                      <ion-label *ngIf="tipsControl.errors.required" color='danger'>
                        Tips amount is required
                      </ion-label>
                    </div>
                  </form>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>

          <!-- <div *ngIf="slide === 'Summary'">
            <ion-title color='warning'> Summary </ion-title>
            <ion-row class='summary-row'>
              <ion-col size="12">

                <ion-item lines="none">
                  <ion-label color="primary">
                    
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-text color="primary">
                    
                  </ion-text>
                </ion-item>
                <ion-item>
                  <ion-label>
                    
                  </ion-label>
                </ion-item>

              </ion-col>
            </ion-row>
          </div> -->

        </div>
      </ion-slide>
    </ng-container>
  </ion-slides>
</ion-content>
<ion-footer *ngIf="!isEnd">
  <ion-toolbar>
    <div>
      <ion-buttons class="full-width flex align-items-center justify-content-space-between">
        <ion-button fill='solid' shape="round" color="medium"
          [style.visibility]="(isBeginning || isEnd) ? 'hidden' : ''" (click)="onBackButtonTouched()">
          <span>Back</span>
          <ion-icon slot="start" name="chevron-back"></ion-icon>
        </ion-button>
        <ion-button fill='solid' shape="round" color="warning" [style.visibility]="isEnd ? 'hidden' : ''"
          (click)="onNextButtonTouched()">
          <span>Next</span>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="isEnd">
  <ion-toolbar>
    <div>
      <ion-buttons class="full-width flex align-items-center justify-content-space-between">
        <ion-button fill='solid' shape="round" color="medium" (click)="onBackButtonTouched()">
          <span>Back</span>
          <ion-icon slot="start" name="chevron-back"></ion-icon>
        </ion-button>
        <!-- <ion-button fill='solid' shape="round" color="primary" (click)="home()">
          <span>Share/Home</span>
        </ion-button> -->
        <ion-button fill='solid' shape="round" color="success" (click)="submitForm()">
          <span>Finish</span>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>