<ion-header [translucent]="true">
  <ion-toolbar color='warning'>
    <ion-buttons slot="start">
      <ion-button (click)="home()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Calculator NGXS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color='warning'>
      <ion-title size="large">
        Calculator NGXS
      </ion-title>
    </ion-toolbar>
  </ion-header>


</ion-content>