<ion-grid>
    <ion-row>
        <ion-col size="12">
            <ion-card class='ion-padding'>
                <form [formGroup]="waiterForm" (ngSubmit)="onSubmit()">
                    <ion-item lines="none">
                        <ion-text position="floating">Waiter's name: </ion-text>
                        <ion-input type="text" formControlName="name" clearInput="true"></ion-input>
                    </ion-item>
                    <ion-item lines="none"
                        *ngIf="waiterForm.controls['name'].invalid && (waiterForm.controls['name'].dirty || waiterForm.controls['name'].touched)">
                        <ion-text color="danger" *ngIf="waiterForm.controls['name'].errors.required">
                            Waiter' name is required.
                        </ion-text>
                    </ion-item>
                    <ion-row>
                        <ion-col>
                            <ion-button expand="block" fill="solid" shape="round" type="submit"
                                [disabled]="waiterForm.pristine || waiterForm.invalid">
                                Submit
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button expand="block" fill="solid" shape="round" (click)="clearForm()"
                            [disabled]="waiterForm.pristine">
                            Clear
                        </ion-button>        
                        </ion-col>
                    </ion-row>
                </form>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>