<ion-grid>
  <ion-row>
    <ion-col>Id</ion-col>
    <ion-col>Title</ion-col>
    <ion-col>Completed</ion-col>
    <ion-col>Edit</ion-col>
    <ion-col>Delete</ion-col>
  </ion-row>
  <ion-row *ngFor="let todo of todos | async">
    <ion-col>{{ todo.id }}</ion-col>
    <ion-col>{{ todo.title }}</ion-col>
    <ion-col>
      <ion-icon color='warning' name="add" *ngIf="todo.completed"></ion-icon>
      <ion-icon color='danger' name="compass" *ngIf="!todo.completed"></ion-icon>
    </ion-col>
    <ion-col>
      <ion-button (click)="editTodo(todo)" expand="block" fill="clear" shape="round">
        edit
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="deleteTodo(todo.id)" expand="block" fill="clear" shape="round">
        delete
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>