<ion-grid>
    <ion-row>
        <ion-col>Waiter's List</ion-col>
    </ion-row>
    <ion-row *ngFor="let w of waitersList | async">
        <ion-col>
<ion-card>
    
    <ion-card-content>
        <ion-item>
            <ion-text>
                {{ w.name  }}
            </ion-text>
            <ion-buttons slot="end">
                <ion-button (click)="deleteWaiter(w.id)" expand="block" fill="clear" shape="round">
                    <ion-icon color='danger' name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-card-content>
</ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
