<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="settings()">
                <ion-icon slot="start" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">home</ion-title>
        </ion-toolbar>
    </ion-header>


</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button (click)="calculator()" expand="block" fill="solid" shape="round">
            {{ 'Start' | uppercase }}
        </ion-button>
    </ion-toolbar>
</ion-footer>