<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="settings()">
                <ion-icon name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense" mode="ios">
        <ion-toolbar>
            <ion-card-header>
                <ion-card-subtitle>Welcome</ion-card-subtitle>
                <ion-card-title>Tips Share Calculator</ion-card-title>
            </ion-card-header>
        </ion-toolbar>
    </ion-header>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item *ngFor='let entry of entriesListState | async'>
                    <ion-label (click)='resultPage(entry)'>
                        {{ entry.date | date }}
                    </ion-label>
                    <ion-text color='danger' slot='end' (click)='deleteEntry(entry.id)'>
                        <ion-icon color='danger' name="close"></ion-icon>
                    </ion-text>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button (click)="calculator()" expand="block" fill="solid" shape="round">
            {{ 'Start' | uppercase }}
        </ion-button>
    </ion-toolbar>
</ion-footer>